body {
    font-family: sans-serif;
    background-color:azure ;
    margin-top: 100px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 450%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

